<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style_menu.css">
    <script src="https://kit.fontawesome.com/a0e770b090.js" crossorigin="anonymous"></script>
    <title>MEAL PLAN</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo_words.svg">
            <ul>
                <li>
                    <i class="fa-regular fa-calendar"></i>
                    <a href="#" class="button button-meal-plan">Meal plan</a>
                </li>
                <li>
                    <i class="fa-solid fa-utensils"></i>
                    <a href="#" class="button button-recipes">Recipes</a>
                </li>
                <li>
                    <i class="fa-solid fa-receipt"></i>
                    <a href="#" class="button button-menus">Menus</a>
                </li>
                <li>
                    <i class="fa-solid fa-dumbbell"></i>
                    <a href="#" class="button button-trainings">Trainings</a>
                </li>
                <li>
                    <i class="fa-solid fa-gear"></i>
                    <a href="#" class="button button-settings">Settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="meal-plan">Meal plan</div>
            </header>
            <section class='calendar'>
                <div></div>
            </section>
        </main>
    </div>
</body>